    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% extends 'base.html' %}

        {% block body %}
    
        <h1> About Us</h1>
        <p> Our organization is called space crash visuals. We work on things relating to space in order for ordinary people to understand what they can't see for themselves. We bring the visuals to them in models of space things.</p>
        <pre>      _
            |-|  __
       jgs  |=| [Ll]
            "^" ====`o 
        </pre>
        
        <pre>
            .
            ,O,
           ,OOO,
     'oooooOOOOOooooo'
       `OOOOOOOOOOO`
         `OOOOOOO`
         OOOO'OOOO
        OOO'   'OOO
       O'         'O
        </pre>
    
        {% endblock %}

    </body>
    </html>
    


