{% extends 'base.html' %}

{% block head %}
<title> test 3d model</title>
<script type="module" src= "https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
<h1> Astronomical Bodies</h1>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 id="Catalog_title">Astronomical Bodies</h1>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <model-viewer src="static/models/Sphere_Template_Mars.gltf" camera-controls ios-src="static/models/Sphere_Template_Mars.gltf"></model-viewer>
      <p>Name: Mars <br>
            <a href="https://www.solarsystemscope.com/textures/"><b>Source</b></a><br>
            <a href="https://creativecommons.org/licenses/by/4.0/"><b> CC </b></a></p>
    </div>
    <div class="col">
      <model-viewer src="static/models/mercury.gltf" camera-controls ios-src="static/models/mercury.gltf"></model-viewer>
      <p>Name: Mercury <br>
            <a href="https://www.solarsystemscope.com/textures/"><b>Source</b></a><br>
            <a href="https://creativecommons.org/licenses/by/4.0/"><b> CC </b></a></p>
    </div>
    <div class="col">
      <model-viewer src="static/models/planet_jupiter.gltf" camera-controls ios-src="static/models/planet_jupiter.gltf"></model-viewer>
      <p>Name: Jupiter <br>
            <a href="https://www.solarsystemscope.com/textures/"><b>Source</b></a><br>
            <a href="https://creativecommons.org/licenses/by/4.0/"><b> CC </b></a></p>
      </div>

</div>

<div class="container">

<div class="row">
  <div class="col">
    <model-viewer src="static/models/planet_neptune.gltf" camera-controls ios-src="static/models/planet_neptune.gltf"></model-viewer>
    <p>Name: Neptune  <br>
          <a href="https://www.solarsystemscope.com/textures/"><b>Source</b></a><br>
          <a href="https://creativecommons.org/licenses/by/4.0/"><b> CC </b></a></p>
  </div>
  <div class="col">
    <model-viewer src="static/models/planet_saturn.gltf" camera-controls ios-src="static/models/planet_saturn.gltf"></model-viewer>
    <p>Name: Saturn  <br>
          <a href="https://www.solarsystemscope.com/textures/"><b>Source</b></a><br>
          <a href="https://creativecommons.org/licenses/by/4.0/"><b> CC </b></a></p>
  </div>
  <div class="col">
    <model-viewer src="static/models/planet_uranus.gltf" camera-controls ios-src="static/models/planet_uranus.gltf"></model-viewer>
    <p>Name: Uranus  <br>
          <a href="https://www.solarsystemscope.com/textures/"><b>Source</b></a><br>
          <a href="https://creativecommons.org/licenses/by/4.0/"><b> CC </b></a></p>
    </div>
</div>
</div>


<div class="container">

<div class="row">
  <div class="col">
    <model-viewer src="static/models/star_sun.gltf" camera-controls ios-src="static/models/star_sun.gltf"></model-viewer>
    <p>Name: Sun   <br>
          <a href="https://www.solarsystemscope.com/textures/"><b>Source</b></a><br>
          <a href="https://creativecommons.org/licenses/by/4.0/"><b> CC </b></a></p>
  </div>
  <div class="col">
    <model-viewer src="static/models/moon.gltf" camera-controls ios-src="static/models/moon.gltf"></model-viewer>
    <p>Name: Moon   <br>
          <a href="https://www.solarsystemscope.com/textures/"><b>Source</b></a><br>
          <a href="https://creativecommons.org/licenses/by/4.0/"><b> CC </b></a></p>
  </div>

</div>
</div>


---------------------------------------------------------------------------------------------------------------------------------------------------------------
<div class="container">
  <div class="row">
    <div class="col">
      <h1 id="Catalog_title">Fictional Astronomical Bodies</h1>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <model-viewer src="static/models/scene_Sirius.glb" camera-controls ios-src="static/models/scene_Sirius.glb"> </model-viewer>
      <p>Name: Sirius<br>
          <a href="https://sketchfab.com/3d-models/sirius-002342e8d06042d69aed2919731d4d5f"><b>Source</b></a><br>
          <a href="https://sketchfab.com/dainius.vareika"><b>Author:dainius.vareika</b></a><br></p>
    </div>
    <div class="col">
          <model-viewer src="static/models/scene_yellow_star.glb" camera-controls ios-src="static/models/scene_yellow_star.glb"></model-viewer>
           <p>Name: Yellow Star <br>
               <a href="https://sketchfab.com/3d-models/yellow-star-66d8471667bd448a8ab46c5cb6bb5f8d"><b>Source</b></a><br>
               <a href="https://sketchfab.com/dainius.vareika"><b>Author:dainius.vareika</b></a></p>
    </div>
    <div class="col">
          
      </div>

</div>

---------------------------------------------------------------------------------------------------------------------------------------------------------------


<div class="container">
  <div class="row">
    <div class="col">
      <h1 id="Catalog_title">NASA Models</h1>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <model-viewer src="static/models/Advanced Composition.gltf" camera-controls ios-src="static/models/Advanced Composition.gltf"></model-viewer>
      <p><a href="https://science.nasa.gov/mission/ace/">Name: Advanced Composition Explorer</a> <br>
            <a href="https://nasa3d.arc.nasa.gov/detail/ace"><b>Source</b></a><br>
            <a href="https://www.nasa.gov/nasa-brand-center/images-and-media/">NASA CC</a>
            <a href="https://github.com/nasa/NASA-3D-Resources/tree/master/3D%20Models/Advanced%20Composition"><b> GitHub Repository </b></a></p>
    </div>
    <div class="col">
      <model-viewer src="static/models/Argo.gltf" camera-controls ios-src="static/models/Argo.gltf"></model-viewer>
      <p><a href="https://www.nasa.gov/topics/earth/features/mls20100519.html">Name: Argo</a><br>
            <a href="https://nasa3d.arc.nasa.gov/detail/argo"><b>Source</b></a><br>
            <a href="https://www.nasa.gov/nasa-brand-center/images-and-media/">NASA CC</a>
            <a href="https://github.com/nasa/NASA-3D-Resources/tree/master/3D%20Models/Argo"><b> GitHub Repository </b></a></p>
    </div>
    <div class="col">
      <model-viewer src="static/models/Voyager.gltf" camera-controls ios-src="static/models/Voyager.gltf"></model-viewer>
      <p><a href="https://www.nasa.gov/mission/voyager">Name: Voyager Probe</a> <br>
            <a href="https://nasa3d.arc.nasa.gov/detail/voyager-c"><b>Source</b></a><br>
            <a href="https://www.nasa.gov/nasa-brand-center/images-and-media/">NASA CC</a>
            <a href="https://github.com/nasa/NASA-3D-Resources/blob/master/3D%20Printing/Voyager/Voyager_17.stl"><b> GitHub Repository </b></a></p>
      </div>


---------------------------------------------------------------------------------------------------------------------------------------------------------------
<div class="container">

  <div class="center">
    <p>The textures used in the models to represent certain astronomical body are downloaded straight off <a href="https://www.solarsystemscope.com/textures/">solarsystemscope.com.</a> 
    <br> The textures of the 3D astronomical bodies are based on NASAs digital elevation and imagery data.</p>
    <br> While <a href="https://nasa3d.arc.nasa.gov/models">Nasa Models</a> come straight from <a href="https://nasa3d.arc.nasa.gov/models">NASA's 3D resource website.</a>


  </div>


</div>

{% endblock %}