{% extends 'base.html' %}

{% block body %}

{% if model %}
    
    <br>
    <a data-toggle="tooltip" data-placement="top" title="Delete Model" href="/model/delete/{{model.id}}"> <b> Delete: </b>
        <img width="40" class="bottom-image" src="/static/trashcan.png">
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Edit Model" href="/model/edit/{{model.id}}"> <b> Edit: </b>
        <img width="40" class="bottom-image" src="/static/edit_image.png">
    </a>

    
    

    <div>
        <h3><u> Title: </u></h3> {{model.title}}   
        
        <br>
        
        <h3><u> File Size:</u></h3> {{model.fileSize}}

        <br>

        <h3><u>Dimension:</u></h3> {{model.dimension}}

        <br>

        <h3><u> Creation Date:</u> </h3>  {{model.creationDate}}

        <br>

        <h3><u> File Type:</u></h3>  {{model.fileType}}

        <br>

        <h3><u>File Link:</u></h3>{{model.fileLink}} 

        <br>
        
        
    
    
    
    </div>

{% else %}

{% endif %}

{% endblock %}